@import "tailwindcss";

body {
  font-family: 'Poppins';
}

span, strong {
  font-family: 'Press Start 2P', cursive;
}



@keyframes brilho {

  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
}

.luz {
  animation: brilho 3s infinite ease-in-out;
}

.glow-hover:hover {
  box-shadow: 0 0 8px #00c476, 0 0 12px #00c476;
  transition: box-shadow 0.3s ease-in-out;
}